name: Build PgBouncer

on:
  push:
    branches:
      - neon
  pull_request:
  workflow_dispatch:
    inputs:
      pgbouncer-repo:
        description: 'Repository to build PgBouncer from'
        default: "knizhnik/pgbouncer"
        required: true
      pgbouncer-ref:
        description: 'Branch, tag or SHA to checkout'
        default: 'prepared_statements'
        required: true
      push-to-docker-registry:
        description: 'Push the image to Docker Hub'
        type: boolean
        default: false
        required: true

defaults:
  run:
    shell: bash -euxo pipefail {0}
    working-directory: bitnami/pgbouncer/1/debian-11

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.ref_name == 'neon' && github.sha || 'anysha' }}
  cancel-in-progress: true

jobs:
  build-pgbouncer:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.inputs.pgbouncer-repo || 'knizhnik/pgbouncer' }}
          ref: ${{ github.event.inputs.pgbouncer-ref || 'prepared_statements' }}
          path: bitnami/pgbouncer/1/debian-11/pgbouncer-git
          submodules: true

      - name: Build PgBouncer Image
        run: docker build --tag neondatabase/pgbouncer:${GITHUB_RUN_ID} .

      - name: Test PgBouncer Image
        run: |
          sed -i "s@image: docker.io/bitnami/pgbouncer:1@image: neondatabase/pgbouncer:${GITHUB_RUN_ID}@g" docker-compose-prepared.yml

          docker-compose -f docker-compose-prepared.yml up --detach
          until pg_isready; do
            echo "Waiting..."
            sleep 1
          done

          psql -- << 'EOF'
            CREATE TABLE x (x INT);
            INSERT INTO x SELECT * FROM generate_series(1, 100000);
            PREPARE xxx (int) as SELECT * FROM x WHERE x < $1;
            EXECUTE xxx(5);
          EOF

          psql -c 'EXECUTE xxx(10);'
        env:
          PGHOST: 127.0.0.1
          PGPORT: 6432
          PGDATABASE: postgres
          PGUSER: postgres

      - uses: docker/login-action@v2
        if: ${{ github.event.inputs.push-to-docker-registry == 'true' || github.ref_name == 'neon' }}
        with:
          username: ${{ secrets.NEON_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEON_DOCKERHUB_PASSWORD }}

      - name: Push PgBouncer Image
        if: ${{ github.event.inputs.push-to-docker-registry == 'true' || github.ref_name == 'neon' }}
        run: |
          CID=$(docker create neondatabase/pgbouncer:${GITHUB_RUN_ID} /bin/bash -c 'echo $APP_VERSION > /tmp/APP_VERSION.txt')
          docker start ${CID}
          docker cp ${CID}:/tmp/APP_VERSION.txt ./APP_VERSION.txt
          APP_VERSION=$(cat ./APP_VERSION.txt)

          PGBOUNCER_COMMIT=$(git -C pgbouncer-git rev-parse HEAD)

          TAG="${APP_VERSION}-${PGBOUNCER_COMMIT::12}-${GITHUB_RUN_ID}"

          docker tag neondatabase/pgbouncer:${GITHUB_RUN_ID} neondatabase/pgbouncer:${TAG}
          docker push neondatabase/pgbouncer:${TAG}

          echo "neondatabase/pgbouncer:${TAG}" >> ${GITHUB_STEP_SUMMARY}
